body, html{
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    font-family: 'Comfortaa', sans-serif;
    background-color: #F9F9F9;

}
.left_side{
    position: relative;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 70%;
    background-color: rgba(165, 42, 42, 0);
}
.content{
    position: relative;
    height: 90%;
    width: 90%;
    margin: auto;
    top: 5%;
    background-color: rgba(255, 255, 255, 0);
}
.right_side{
    position: relative;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 30%;
    background-color: rgba(255, 0, 0, 0);
}
.analysis{
    position: relative;
    height: 90%;
    width: 90%;
    margin: auto;
    top: 5%;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.scheme_label{
    position: relative;
    top: 0%;
    left: 0%;
    width: 90%;
    height: 10%;
    background-color: rgba(0, 0, 255, 0);
    font-size: 50px;
    line-height: 80px;
}
.label{
    position: relative;
    top: 0%;
    left: 5%;
    width: 90%;
    height: 10%;
    background-color: rgba(0, 0, 255, 0);
    font-size: 50px;
    line-height: 80px;
}
.scheme{
    position: relative;
    top: 0%;
    width: 100%;
    height: 80%;
}
.log{
    position: relative;
    top: 0%;
    width: 100%;
    height: 10%;
    background-color: rgba(255, 0, 221, 0);
}
.dropdown {
    position: relative;
    top: 0%;
    margin-top: 2%;
    left: 5%;
    width: 70%;
    height: 5%;
    background-color: rgba(255, 100, 100, 0);
    z-index: 10;
}

button{
    border:none;
    border-radius:5px;
    width: 100%;
    height: 100%;
    font-size:18px;
    cursor:pointer;
    background-color: #F0F0F0;
    border-radius: 50px;
    display: flex;
    font-family: 'Comfortaa', sans-serif;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
}
.profile_name{
    position: relative;
    left: 5%;
    width: 85%;
    height: 100%;
    background-color: rgba(0, 255, 0, 0);
    font-size: 20px;
    line-height: 40px;
    text-align: left;
}
.img{
    position: relative;
    top: 20%;
    left: 7%;
    width: 5%;
    height: 50%;
    background-color: rgba(0, 255, 255, 0);
}

button:hover{
    background-color:#ddd;
}

.dropdown-options {
    display: none;
    position: absolute;
    overflow: auto;
    background-color:#fff;
    border-radius:5px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    width: 100%;
}

.dropdown:hover .dropdown-options {
    display: block;
}

.dropdown-options a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
    padding:20px 40px;
}

.dropdown-options a:hover {
    color: #0a0a23;
    background-color: #ddd;
    border-radius:5px;
}
.table_ladel{
    display: flex;
    position: relative;
    margin-top: 5%;
    left: 5%;
    width: 90%;
    height: 5%;
    background-color: #EEEEEE;
    border-radius: 50px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
}
.label_id{
    background-color: #DEDEDE;
    position: relative;
    width: 70%;
    height: 100%;
    border-radius: 50px;
    text-align: center;
    font-size: 25px;
    line-height: 40px;
}
.id{
    position: relative;
    width: 70%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    text-align: center;
    font-size: 25px;
    line-height: 40px;
}
.falue{
    position: relative;
    width: 30%;
    height: 100%;
    background-color: #EEEEEE;
    border-radius: 50px;
    text-align: center;
    font-size: 25px;
    line-height: 40px;
}
.table_row{
    display: flex;
    position: relative;
    margin-top: 4%;
    margin-left: 5%;
    width: 90%;
    height: 5%;
    background-color: #EEEEEE;
    border-radius: 50px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
}

.customElement {
    position: absolute;
    background-color: #FFD700;
    width: 40px;
    height: 40px;
    border-radius: 30px;
}
.forklyft_dashboard {
    position: absolute;
    top: -140px;
    right: -210px;
    background-color: #FFD700;
    width: 190px;
    height: 130px;
    border-radius: 15px;
    padding: 10px;
}
.dashboard_label{
    position: relative;
    width: 100%;
    font-size: 20px;
    text-align: center;
}
.dashboard_row{
    position: relative;
    width: 100%;
    font-size: 15px;
    margin-top: 5px;
}